KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt_c.o \
$(ARCHDIR)/gdt_asm.o \
$(ARCHDIR)/isr_c.o \
$(ARCHDIR)/isr_asm.o \
$(ARCHDIR)/idt_c.o \
$(ARCHDIR)/idt_asm.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/ps2.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/test.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/heap.o \
$(ARCHDIR)/grub.o
